GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=...
GOOGLE_APPLICATION_CREDENTIALS="cyberize-vertex-api.json"

# GHL Private Integration Token
GHL_API_TOKEN=pit-1ac05ee8-******-fea882c11721

# GHL Location ID (Sub-account ID)
GHL_LOCATION_ID=4rKuULH*****wdL1XH
